@mixin imagenes ($ancho, $izquierda){
    width: $ancho;
    margin-left: $izquierda;
    border-style: solid;
}

.campeonatos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 10px;
    p{
        font-size: 30px;
        color: white;
        margin-left: 25%;
    }
    li{
        font-size: 30px;
        color: white;
    margin-left: 40%;
    }
}

#imagen1{
    @include imagenes(66%, 60px)
}
#imagen2{
    width: 100%;
    margin-right: 100px;
    border-style: solid;
}
#imagen3{
    @include imagenes(83%, 100px)
}

@media (max-width: 800px){
.campeonatos{
    grid-template-columns: 1fr;
    margin-top: 0px;
}
#imagen1,#imagen3{
    width: 100%;
    margin-left: 0px;
}
}