#contacto{
    h1,h3{
        color: white;
        font-size: 20px;
        margin-left: 10px;
        margin-top: 10px;
    }
}
#formulario{
    text-align: center;
    h2,p{
        color: white;
        margin-top: 10px;
    }
}

#fav{
    text-align: center;
    legend{
        color: white;
    }
}

#final{
   p{
    text-align: right; 
   } 
}