.jugadas{
    text-align: center;
    h2{
        color: white;
        margin-top: 15px;
        font-size: 50px;
    }
}
.videos1{
    width: 790px;
    height: 545px;
}

@media (max-width: 800px){
    .jugadas{
        h2{
            font-size: 20px
        };
    }
    .videos1{
        width: 80%;
        margin-left: 0px;
    }
}